* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background: #eae0db;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.address h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-social span {
  background-color: #e85b2b;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin-left: 8px;
}
