.header {
     background:#f8f8f8;
     }


.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.navbar-right {
    display: flex;
    gap: 25px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

a{
    text-decoration: none;
}

.btn {
    background: #e85b2b;
    color:#fff;
    border:none;
    border-radius: 25px;
    padding:5px 30px;
    cursor: pointer;
}