* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: #f8f8f8;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  font-size: 16px;
  background-color: #fff;
}

.top-bar i {
  color: #e85b2b;
}

.top-bar-left {
  display: flex;
  gap: 10px;
}

.top-social-icon {
  display: flex;
  gap: 15px;
  transition: 0.3s ease-in-out;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.logo span {
  color: #e85b2b;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover{
    color: #e85b2b;
}

.navbar-right .btn {
  font-size: 16px;
  background: #e85b2b;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }
}
