*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
     background:#f8f8f8;
 }


.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    font-size: 16px;
}

.top-bar i{
    color: #e85b2b;
}

.top-bar-left{
    display: flex;
    gap: 10px;
}

.top-social-icon{
    display: flex;
    gap: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.navbar-right {
    display: flex;
    gap: 25px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

a{
    text-decoration: none;
}

.btn {
    background: #e85b2b;
    color:#fff;
    border:none;
    border-radius: 25px;
    padding:5px 30px;
    cursor: pointer;
}

@media(max-width:768px){
.navbar ul{display:none;}
}