.doctors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
  background: #f3f3f3;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.socials {
  margin-top: 10px;
}

.socials span{
    background-color: lightblue;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
}

.card-content {
    display: flex;
    flex-direction: column;
}