*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.doctors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
  background: #f3f3f3;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card-content h3{
  color: #4f4fa7;
}
.card-content h3,p{
  margin-bottom: 10px;
}


.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.socials {
  margin-top: 10px;
}

.socials span{
    background-color: lightblue;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-left: 8px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content .link{
  background-color: orangered;
  color: #fff;
  padding: 8px 20px;

}